@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --cor-principal: #2C3639;
    --cor-segundaria:#DCD7C9;
    --cor-terciaria:#A27B5C;
    --cor-hover:#3F4E4F;

    --fonte-principal:'Krona One', sans-serif;
    --fonte-segundaria:'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.apresentacao {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    padding: 5% 15% ;    
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family:var(--fonte-principal)
}
.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-segundaria)
}
.apresentacao__conteudo__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.apresentacao__conteudo__links__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-segundaria);
    font-family: var(--fonte-segundaria);
    border: 2px solid var(--cor-terciaria);
}
.apresentacao__conteudo__links__botoes:hover{
    background-color: var(--cor-hover);
}
.apresentacao__conteudo__links__subtitulo{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-principal)
}
.apresentacao__img {
    width: 50%;
}
.rodape{
    background-color:var(--cor-terciaria);
    height: 80px;
}
.rodape__texto{
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-weight: 400;
    font-size: 1.5rem;
    color:var(--cor-principal);
    padding: 24px;
}
body {
    box-sizing: border-box;
    background-color:var(--cor-principal);
    color: var(--cor-segundaria);
}
.titulo-destaque {
    color:var(--cor-terciaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-decoration: none;
}
@media (max-width: 985px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
     .apresentacao{
        flex-direction: column-reverse;
        align-items: center;
     }
     .apresentacao__conteudo{
        width: auto;
     }
}